<!-- _includes/projectDesc.html -->

<div style="font-weight: bold; display: flex; align-items: center; color: #414041;">
    <span>{{ include.name }}</span>
    <div style="margin: 0 10px; align-self: stretch; position: relative;">
      <span style="position: absolute; left: 0; top: 0; bottom: 0; border-left: 2px solid #414041; content: ''; display: block;"></span>
    </div>
    <a class="projectlink" href="{{ include.source }}" style="display: flex; align-items: center;">
      <img style="height: 1.2em; vertical-align: middle;" src="{{ site.baseurl }}/assets/images/source4.png">
    </a>
    <div style="margin: 0 10px; align-self: stretch; position: relative;">
      <span style="position: absolute; left: 0; top: 0; bottom: 0; border-left: 2px solid #414041; content: ''; display: block;"></span>
    </div>
    <span>{{ include.tools }}</span>
  </div>