

<div id="sidebar" class="sidebar {% if include.page_type == 'home' %}sidebar-home{% endif %}">

    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/profile.png" alt="My Picture" class="profile-image">
    </a>
    <p class="nameMail">Yanina Arameleva</p>
    <p class="nameMail">yanina.aram@gmail.com</p>
    <p class="nameMail">Prague</p>


    <div class="sidebar-icons">
        <a href="https://www.linkedin.com/in/yanina-arameleva-52a23514b/" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/linkedin.png" alt="GitLab">
        </a>
        <a href="https://www.kaggle.com/lachimolalala" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/kaggle.svg" alt="Kaggle">
        </a>
        <!-- <a href="https://github.com/Lenalee" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/github.svg" alt="GitHub">
        </a> -->
        <a href="https://gitlab.com/yanina.aram" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/gitlab.svg" alt="GitLab">
        </a>
        
        
    </div>
   
    <!-- <nav class="sidebar-nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
        </ul>
    </nav> -->
</div>
