

<div id="sidebar" class="sidebar {% if include.page_type == 'home' %}sidebar-home{% endif %}">

    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/profile.png" alt="My Picture" class="profile-image">
    </a>
    <p class="nameMail">Kirill Konopatkin</p>
    <p class="nameMail">kirill.konopatkin@gmail.com</p>
    <p class="nameMail">Prague</p>


    <div class="sidebar-icons">
        <a href="https://www.linkedin.com/in/kirill-konopatkin-a09091a7/" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/linkedin.png" alt="GitLab">
        </a>
      
        
        
    </div>
   
    <!-- <nav class="sidebar-nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
        </ul>
    </nav> -->
</div>
